*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.home{
    background-image: url(rs=w_1160\,h_1268.webp);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100%;
}

